<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1><%= location %></h1>
    <h2><%= zipcode %></h2>

    <div id="one">
        <h3> Day: <%= dotw1 %> </h3>
        <h3> Date: <%= date1 %> </h3>
        <h3> High: <%= hightemp1 %> ℉</h3>
        <h3> Low: <%= lowtemp1 %> ℉</h3>
        <h3> Description: <%= desc1 %> </h3>
        <h3> chance of precipitation: <%= pcop1 %> %</h3>
    </div>
    <div id="two">
        <h3> Day: <%= dotw2 %> </h3>
        <h3> Date: <%= date2 %> </h3>
        <h3> High: <%= hightemp2 %> ℉</h3>
        <h3> Low: <%= lowtemp2 %> ℉</h3>
        <h3> Description: <%= desc2 %> </h3>
        <h3> chance of precipitation: <%= pcop2 %> %</h3>
    </div>
    <div id="three">
        <h3> Day: <%= dotw3 %> </h3>
        <h3> Date: <%= date3 %> </h3>
        <h3> High: <%= hightemp3 %> ℉</h3>
        <h3> Low: <%= lowtemp3 %> ℉</h3>
        <h3> Description: <%= desc3 %> </h3>
        <h3> chance of precipitation: <%= pcop3 %> %</h3>
    </div>
    <div id="four">
        <h3> Day: <%= dotw4 %> </h3>
        <h3> Date: <%= date4 %> </h3>
        <h3> High: <%= hightemp4 %> ℉</h3>
        <h3> Low: <%= lowtemp4 %> ℉</h3>
        <h3> Description: <%= desc4 %> </h3>
        <h3> chance of precipitation: <%= pcop4 %> %</h3>
    </div>
    <div id="five">
        <h3> Day: <%= dotw5 %> </h3>
        <h3> Date: <%= date5 %> </h3>
        <h3> High: <%= hightemp5 %> ℉</h3>
        <h3> Low: <%= lowtemp5 %> ℉</h3>
        <h3> Description: <%= desc5 %> </h3>
        <h3> chance of precipitation: <%= pcop5 %> %</h3>
    </div>
   
</body>
</html>