<div id="location">
    <div id="locationName"><%= location.name %></div>
    <div id="zip"><%= location.zipcode%></div>
</div>
<div class="row">
    <div class="col">
        <div class="card blue-grey darken-1 horizontal">
            <div class="reducedPadding card-content white-text">
                <span class="largeTitle"><%= forecast[1].day %>,</span>
                <p id="curTime" class="cardSubtitle"><%= moment().format("MMM Do") %></p>
                <div>
                    <p class="high temperatures"> F <%= forecast[1].high %>&deg </p>
                    <p class="low temperatures"> <%= forecast[1].low %>&deg </p>
                </div>
                <p>Currently: <%= result[0].current.temperature%>&deg </p>
                <p> Precip: <%= forecast[1].precip%>% </p>
            </div>
            <div class="card-stacked">
                <div class="reducedPadding card-content">
                    <p class="iconCurrent"> <%= icons[1] %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
      <% for (var i=2; i<=4; i++) { %>
        <div class="col">
            <div class="card blue-grey darken-1 horizontal">
                <div class="reducedPadding card-content white-text">
                    <span class="cardTitle"><%= forecast[i].day %>,</span>
                    <p class="cardSubtitle"><%=moment().add(i-1, 'days').format("MMM Do")%></p>
                    <div>
                        <p class="high temperatures"> F <%= forecast[i].high %>&deg </p>
                        <p class="low temperatures"> <%= forecast[i].low %>&deg </p>
                    </div>
                    <p> Precip: <%= forecast[i].precip%>% </p>
                </div>
                <div class="card-stacked">
                    <div class="card-content reducedPadding">
                        <p class="iconOther"> <%= icons[i] %></p>
                    </div>
                </div>
            </div>
          </div>
      <% } %>
  </div>
