<div id="location">
    <div id="locationName"><%= location.name %></div>
    <div id="zip"><%= location.zipcode%></div>
</div>
<div class="row">
    <div class="col s12 m12">
        <div class="card blue-grey darken-1 horizontal">
            <div class="card-content white-text">
                <span class="card-title"><%= today.day %>, <%=dates[1][1]+' '+dates[1][2]%></span>
                <div>
                    <p class="high temperatures"> F <%= today.high %>&deg </p>
                    <p class="low temperatures"> <%= today.low %>&deg </p>
                </div>
                <p> Chance Precipitation: <%= today.precip%>% </p>
            </div>
            <div class="card-stacked">
                <div class="card-image">
                    <img src = "http://blob.weather.microsoft.com/static/weather4/en-us/law/<%=today.skycodeday%>.gif">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Tomorrow, <%= tomorrow.day %></span>
            <ul>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= dayAfter.day %></span>
            <ul>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s6 m4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= lastDay.day %></span>
            <ul>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
                <li><%= %></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
