<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/style.css">
	<title>Weather</title>
</head>
<body>

	<h1>Weather Forecast</h1>
	<div class = "section">

		<h1><%= forecastlow0 %> Low</h1>
		<h1><%= forecasthigh0 %> High</h1>
		<h1><%= forecastday0 %></h1>
		<h2><%= forecastdate0 %></h2>
		<h3><%= forecastdes0 %></h3>


	</div>
	<div class = "section">

		<h1><%= forecastlow1 %> Low</h1>
		<h1><%= forecasthigh1 %> High</h1>
		<h1><%= forecastday1 %></h1>
		<h2><%= forecastdate1 %></h2>
		<h3><%= forecastdes1 %></h3>

	</div>
		<div class = "section">

		<h1><%= forecastlow2 %> Low</h1>
		<h1><%= forecasthigh2 %> High</h1>
		<h1><%= forecastday2 %></h1>
		<h2><%= forecastdate2 %></h2>
		<h3><%= forecastdes2 %></h3>

	</div>
	<div class = "section">

		<h1><%= forecastlow3 %> Low</h1>
		<h1><%= forecasthigh3 %> High</h1>
		<h1><%= forecastday3 %></h1>
		<h2><%= forecastdate3 %></h2>
		<h3><%= forecastdes3 %></h3>

	</div>
	<div class = "section">

		<h1><%= forecastlow4 %> Low</h1>
		<h1><%= forecasthigh4 %> High</h1>
		<h1><%= forecastday4 %></h1>
		<h2><%= forecastdate4 %></h2>
		<h3><%= forecastdes4 %></h3>

	</div>
	

</body>
</body>
</html>