<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="current">
        <h2><%= location %></h2>
        <!-- <img src="<%= img %>)" > -->
        <h3> <%= day %></h3>
        <h3><%= moment(date).subtract(10, 'days').calendar() %></h3>
        <h3> <%= skytext %></h3>
        <h3>Current Temperature: <%= temp %>°</h3>
        <h3>Feels like: <%= feelslike %>°</h3>
    </div>
    <div id="triday">
        <% forecast.forEach(x => { %>
            <div class="day">
                <% if (x.skytextday == 'Partly Cloudy' || x.skytextday =='Partly Sunny') { %>
                    <img src="images/partlysun.png">
                    <% } else if (x.skytextday == 'Rain' || x.skytextday == 'Rain Showers' || x.skytextday == 'Light Rain') { %>
                        <img src="images/rain.png">
                    <% } else if (x.skytextday == 'Clear' || x.skytextday == 'Sunny') {%>
                        <img src="images/sun.png">
                    <%} else if (x.skytextday == 'Cloudy' || x.skytextday == 'Mostly Cloudy') { %>
                        <img src="images/clouds.png">
                    <% } else if (x.skytextday == 'Snow' || x.skytextday == 'Light Snow') { %>
                    <img src="images/snow.png">
                    <% } else if (x.skytextday == 'Wind') { %>
                    <img src="images/wind.png">
                    <% } %>
                <li><%= x.day %></li>
                <li><%= moment(x.date).subtract(10, 'days').calendar() %></li>
                <li><%= x.skytextday %></li>
                <li><%= x.high %></li>
                <li><%= x.low %></li>
            </div>
        <% }) %>
    </div>
    <button><a href="/">Back</a></button>
</body>
</html>