<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="current">
        <h2><%= location %></h2>
        <!-- <img src="<%= img %>)" > -->
        <h3> <%= day %></h3>
        <h3><%= date %></h3>
        <h3> <%= skytext %></h3>
        <h3>Current Temperature: <%= temp %>°</h3>
        <h3>Feels like: <%= feelslike %>°</h3>
    </div>
    <div id="triday">
        <h3>3 Day Forecast</h3>
        <div id="day1">
            <h2><%= dayOneDay %></h2>
            <h3><%= dayOneDate %></h3>
            <h3><%= dayOneTextDay %></h3>
            <h3>High: <%= dayOneHigh %>°</h3>
            <h3>Low: <%= dayOneLow %>°</h3> 
        </div>
        <div id="day2">
            <h2><%= dayTwoDay %></h2>
            <h3><%= dayTwoDate %></h3>
            <h3><%= dayTwoTextDay %></h3>
            <h3>High: <%= dayTwoHigh %>°</h3>
            <h3>Low: <%= dayTwoLow %>°</h3> 
        </div>
        <div id="day3">
            <h2><%= dayThreeDay %></h2>
            <h3><%= dayThreeDate %></h3>
            <h3><%= dayThreeTextDay %></h3>
            <h3>High: <%= dayThreeHigh %>°</h3>
            <h3>Low: <%= dayThreeLow %>°</h3> 
        </div>
    </div>
    <button>Back</button>
</body>
</html>