<h1>The Weather</h1>
    <div class='content'>
        <% weatherNow.forEach(w => {  %>
            <div class='city'>
                <h2>
                    <%= w.location.name %>
                </h2>
                <p>
                    Observation Point: <%= w.current.observationpoint %>
                </p>
                <p> 
                  Current Temperature:  <%= w.current.temperature %> F
                </p>
                <p> 
                    Today's low: <%= w.forecast[1].low %> F
                </p>
                <p>
                    Today's high: <%= w.forecast[1].high %> F
                </p>
                <p> 
                    Tomorrow's low: <%= w.forecast[2].low %> F
                </p>
                <p>
                    Tomorrow's high: <%= w.forecast[2].high %> F
                </p>
                <h2>5 Day Forecast</h2>
            <% for (var i = 0; i < w.forecast.length;  i++ ) { %>
                <div class='bingo'>
                    <div class='divcast'>
                        <% if (w.forecast[i].skytextday === 'Sunny') { %>
                        <p id='pcast'> 
                            <%= w.forecast[i].day %>
                        </p>
                        <p>
                            <%= w.forecast[i].date %>
                        </p>
                        <p id='emoji'> 
                            🌞
                        </p>
                        <p> Chance of Rain: <%= w.forecast[i].precip %>% </p>
                        <p id='pcast'> Sunny </p>
                    </div>
                    <div class='divcast'>
                        <% } else if (w.forecast[i].skytextday = 'Partly Sunny') { %>
                        <p id='pcast'> 
                            <%= w.forecast[i].day %>
                        </p>
                        <p>
                            <%= w.forecast[i].date %>
                        </p>
                        <p id='emoji'> 
                        🌥
                        </p>
                        <p> Chance of Rain: <%= w.forecast[i].precip %>%</p>
                        <p id='pcast'> Partly Sunny </p>
                    </div>
                    <div class='divcast'>
                        <% } else if (w.forecast[i].skytextday = 'Rain') { %>
                        <p id='pcast'> 
                            <%= w.forecast[i].day %>
                        </p>
                        <p>
                            <%= w.forecast[i].date %>
                        </p>
                        <p id='emoji'> 
                        🌧
                        </p>
                        <p> Chance of Rain: <%= w.forecast[i].precip %>% </p>
                        <p id='pcast'> Rainy </p>
                    </div>
                    <div class='divcast'>
                        <% } else if (w.forecast[i].skytextday = 'Cloudy') { %>
                        <p id='pcast'> 
                            <%= w.forecast[i].day %>
                        </p>
                        <p>
                            <%= w.forecast[i].date %>
                        </p>
                        <p id='emoji'> 
                        ☁️
                        </p>
                        <p> Chance of Rain: <%= w.forecast[i].precip %>%</p>
                        <p id='pcast'> Cloudy </p>
                    </div>
                    <div class='divcast'>
                        <% } else if (w.forecast[i].skytextday = 'Mostly Clear') { %>
                        <p id='pcast'> 
                            <%= w.forecast[i].day %>
                        </p>
                        <p>
                            <%= w.forecast[i].date %>
                        </p>
                        <p id='emoji'> 
                        😎 🌞
                        </p>
                        <p> Chance of Rain: <%= w.forecast[i].precip %>%</p>
                        <p id='pcast'> Mostly Clear </p>
                    </div>
                    <div class='divcast'>
                        <% } else if (w.forecast[i].skytextday = 'Mostly Sunny') { %>
                        <p id='pcast'> 
                            <%= w.forecast[i].day %>
                        </p>
                        <p>
                            <%= w.forecast[i].date %>
                        </p>
                        <p id='emoji'> 
                        🌤
                        </p>
                        <p> Chance of Rain: <%= w.forecast[i].precip %>%</p>
                        <p id='pcast'> Mostly Sunny </p>
                    </div>
                    <div class='divcast'>
                        <% } else if (w.forecast[i].skytextday = 'Mostly Cloudy') { %>
                        <p id='pcast'> 
                            <%= w.forecast[i].day %>
                        </p>
                        <p>
                            <%= w.forecast[i].date %>
                        </p>
                        <p id='emoji'> 
                        😎 🌥
                        </p>
                        <p> Chance of Rain: <%= w.forecast[i].precip %>%</p>
                        <p id='pcast'> Mostly Cloudy </p>
                    </div>
                    <div class='divcast'>
                        <% } else if (w.forecast[i].skytextday = 'Clear') { %>
                            <p id='pcast'> 
                                <%= w.forecast[i].day %>
                            </p>
                            <p>
                                <%= w.forecast[i].date %>
                            </p>
                        <p id='emoji'> 
                        😎
                        </p>
                        <p> Chance of Rain: <%= w.forecast[i].precip %>% </p>
                        <p id='pcast'> Clear </p>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        <% }) %>
    </div>